

<!DOCTYPE html>
<html lang="en">
<head>

<!--===============================================================================================-->
</head>




  <!-- Product Detail -->
  <div class="container bgwhite p-t-35 p-b-80">
    <div class="flex-w flex-sb">
      <div class="w-size13 p-t-30 respon5">
        <div class="wrap-slick3 flex-sb flex-w">
          <div class="wrap-slick3-dots"></div>

          <div class="slick3">
            <div class="item-slick3" data-thumb="<%= @product.previewo %>">
              <div class="wrap-pic-w">
                <img src="<%= @product.previewo %>" alt="IMG-PRODUCT">
              </div>
            </div>

            <div class="item-slick3" data-thumb="<%= @product.previewt %>">
              <div class="wrap-pic-w">
                <img src="<%= @product.previewt %>" alt="IMG-PRODUCT">
              </div>
            </div>

            <div class="item-slick3" data-thumb="<%= @product.previewth %>">
              <div class="wrap-pic-w">
                <img src="<%= @product.previewth %>" alt="IMG-PRODUCT">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-size14 p-t-30 respon5">
        <h4 class="product-detail-name m-text16 p-b-13">
          <%= @product.title %>
        </h4>

        <span class="m-text17">
          <span class="block2-oldprice m-text7 p-r-5">
                  Our Price: Rs <%= @product.price %>
                </span>
                <br>
          
          <% if @product.offerprice? %>
              Offer Price Rs <%= @product.offerprice %>
              <br>

              You Save <%= @product.saving %> <%= @product.off %>% OFF
              
            <% end %>
        </span>

        <p class="s-text8 p-t-10">
          <%= @product.sdescription %>
        </p>

        <!--  -->
        <div class="p-t-33 p-b-60">
          <div class="flex-m flex-w p-b-10">
            <div class="s-text15 w-size15 t-center">
              Delivery
            </div>

            <div class="pincode">
              <form method="post" action="" name="english_registration_form" id="english_registration_form">
    <input type="text" id="name" name="name" aria-describedby="name-format" placeholder="Check your pincode"> <span class="error"><p id="name_error"></p></span>



    <button class="register_button" type="submit" value="submit">Check Avaliablity</button>
</form>
          </div>

          <div class="flex-m flex-w">
            <div class="s-text15 w-size15 t-center">
              Coupon
            </div>

            <% if @product.offerprice? %>
                  <p class="h4 text-warning">Offer Rs <%= @product.offerprice %>*</p>
                  <p><small>*The Offer Price Is After Using Coupon</small><span class="coupon-block"><%= @product.coupon %></span></p>
                </div>
                <% else %>
                <p><small>No coupon avaliable for <%= @product.title %></small></p>
                <% end %>
                <% if @product.deliveryd? %>
                <h4><small>*This Product will take <b><%= @product.deliveryd %></b> days to deliver.</small></h4>
                <% end %>
          </div>

          <div class="button my-2">
              <%= form_tag order_items_path do %>
        <%= hidden_field_tag :product_id, @product.id %>
       
        <%= number_field_tag :quantity, 1 %>
        
        <button type="submit" class="btn cart"><i class="d-inline fa fa-cart-arrow-down" aria-hidden="true"></i><p class="d-inline">Add To Cart</p></button>
      <% end %>
        </div>

        <div class="p-b-45">
          <button type="button" class="btncust" href="customs/i/new"><i class="fa fa-wrench d-inline" aria-hidden="true"></i><p class="d-inline">Customize It</p></button>
        </div>

        <!--  -->
        <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
          <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
            Description
            <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
            <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
          </h5>

          <div class="dropdown-content dis-none p-t-15 p-b-23">
            <p class="s-text8">
              <%= simple_format h(@product.description) %>
            </p>
          </div>
        </div>

        <div class="wrap-dropdown-content bo7 p-t-15 p-b-14">
          <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
            Additional information
            <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
            <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
          </h5>

          <div class="dropdown-content dis-none p-t-15 p-b-23">
            <p class="s-text8">
              <div class="col col-md-4 col-sm-12 vl">
      <h2 class="h6">Details</h2>
      <br>
      <div class="brand py-2">
        <p class="d-inline"><strong>Brand : </strong></p><p class="  d-inline tex-warning"> <%= @product.brand %></p>
      </div>
      <div class="Dimensions py-2">
        <p class="d-inline"><strong>Dimensions : </strong></p><p class=" text-center d-inline tex-warning"> <%= @product.dimension %></p>
      </div>
      <div class="colour py-2">
        <p class="d-inline"><strong>Colour : </strong></p><p class=" d-inline tex-warning"> <%= @product.color %></p>
      </div>
      <div class="width py-2">
          <p class="d-inline"><strong>Seater : </strong></p><p class="   d-inline tex-warning"> <%= @product.seater %></p>
      </div>
      <div class="Warranty py-2">
        <p class="d-inline"><strong>Warranty : </strong></p><p class="   d-inline tex-warning"> <%= @product.warrenty %></p>
      </div>
      <div class="Room type py-2">
        <p class="d-inline"><strong>Material : </strong></p><p class="   d-inline tex-warning"> <%= @product.material %></p>
      </div>  <div class="Height py-2">
          <p class="d-inline"><strong>Height : </strong></p><p class="   d-inline tex-warning"> <%= @product.height %></p>
        </div>
        <div class="width py-2">
          <p class="d-inline"><strong>width : </strong></p><p class="   d-inline tex-warning"> <%= @product.width %></p>
        </div>
        <div class="Depth py-2">
            <p class="d-inline"><strong>Depth : </strong></p><p class="   d-inline tex-warning"> <%= @product.depth %></p>
          </div>
      </div>
            </p>
          </div>
        </div>

        <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 ">
          <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
            Delivery and Setup
            <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
            <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
          </h5>

          <div class="dropdown-content dis-none p-t-15 p-b-23">
            <p class="s-text8">
              <hr>
At DENNY DOTS, We strive to provide the best home delivery service by partnering with reliable, professional delivery teams in your area. We’ll carefully select the best delivery options for your order to make sure everything arrives safe and sound. 
<b><h5>Furniture & Mattresses</h5></b>
<hr>
The delivery team will uncrate or unpack your new furniture/mattress, set it in place in the room of choice and remove all packaging/debris (with the exception of items marked "Customer Assembly Required"). Delivery teams are not able to remove or disassemble any existing furniture. If you need assistance building Assembly required items, please contact our Customer Care team who can help provide assembly services at competitive rates in many regions across India.
<b><h5>Scheduling Your Delivery</h5></b>
<hr>
During the checkout process, you can select a delivery date that works for you for most large item deliveries. This date is based on product and delivery date availability in your area.
When you complete your order, you will receive an email order confirmation, which will specify your preferred delivery date. We'll contact you if this date changes for any reason. We'll also send you an email within 7 days of your delivery to confirm the date and the name of the delivery provider.
Please contact our Customer Care team at least 48 hours before your selected delivery date if you would like to make any changes. 
<b><h5>Preparing  for your Delivery</h5></b>
<hr>
The name on the order must match the government-issued photo ID of the person receiving the delivery. If you're having your product delivered somewhere else, or you'd like to have someone else receive it for you, we'll need to confirm those details with you prior to delivery. 
The delivery warehouse will contact you the day before or morning of delivery. To the volume of deliveries that must be routed each day, it is impossible to give exact times.
Please ensure your driveway and walkways are cleared to accept the delivery. As well please clear the path inside your home to the area where your purchase is to be placed.
Prior to ordering and delivery, pre-measure your doorways, entrances, hallways and staircases to ensure your new product will fit. A restocking fee will apply if unwrapped furniture, mattresses, appliances or electronics do not fit through the doorway or in the space intended. Pin hinged doors can be removed to complete delivery. However, carpentry work such as removing doorway moldings, banisters, and so on cannot be done. All pictures in narrow hallways or stairs should be removed by you.  
<b><h5>During your Delivery</h5></b>
<hr>To help protect you from theft and fraud, we require the person listed on the order be on hand, show valid government-issued photo ID and provide their matching signature at the time of delivery. We request our customers to please inspect their order upon receipt for any visible signs of packaging damage, product damage, incorrect product or missing parts before signing the proof of delivery document and before assembling the product. If any damage is found, please specify these issues on the proof of delivery before signing for the order. Any damages or missing pieces on Assembly Required items must be reported within 48 hours of delivery by contacting our customer care team. 
            </p>
          </div>
        </div>













        <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 ">
          <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
            Care Instruction
            <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
            <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
          </h5>

          <div class="dropdown-content dis-none p-t-15 p-b-23">
            <p class="s-text8">
              <hr>
TO PROTECT AND CARE FOR YOUR FURNITURE, DENNY DOTS SUGGEST THE FOLLOWING:
Avoid placing your furniture in direct sunlight, as sunlight causes fading.

Avoid extreme changes in temperature by arranging furniture away from radiators, heat and air vents and air conditioning units.

Avoid placing plastic or rubber materials (lamp bases, notebooks, placemats, etc.) on your furniture, as certain plastics contain ingredients that may damage the finish.

Periodically rotate accessories on furniture so they do not sit in the same spot all the time.

Use pads, cloth or felt to protect the furniture surface from plastic, rubber, hot dishes, beverages, bookends, flowerpots and vases.

Clean up spills immediately. Use a blotting rather than a wiping action. Water left over a long period of time will cause white spots in the finish. Alcohol, perfume, after-shave and medications can cause severe finish damage.

Use a protective pad when writing with a ballpoint pen on the furniture surface.

Lift and place objects rather than dragging them across the furniture surface.

Avoid placing furniture directly under windows.
            </p>
          </div>
        </div>

















<div class="wrap-dropdown-content bo6 p-t-15 p-b-14 ">
          <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
            Returns & Exchange
            <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
            <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
          </h5>

          <div class="dropdown-content dis-none p-t-15 p-b-23">
            <p class="s-text8">
              <hr>
At Dennydots.com, we’re committed to creating a better online shopping experience. If for some reason you aren’t completely satisfied with your purchase, contact us and we will do what we can to make it right. 

Our delivery teams treat your order with care so it can arrive in the best condition possible, but if there is any visible damage on the merchandise or to your home during the delivery process, please notify our delivery team and make sure it is recorded in the delivery paperwork. Then, contact our Customer Care team within 48 hours of the delivery so we can try to repair or replace the damaged item as soon as possible. Since our Product is made only against orders placed, we are unable to extend any kind of returns. If you choose to cancel your order, please know that you forfeit the advance paid. Prior to signing for your delivery, please carefully inspect the products to ensure your satisfaction.

Cancellation 
Orders can be cancelled as long as they haven’t already been reserved onto our manufacturing floor. To cancel, please get in touch with us on our customer care number or write to us at info@dennydots.com from your registered email address within 48 hours. Items bought on discount during sale are not eligible for cancellation after delivery.
            </p>
          </div>
        </div>


















        <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 ">
          <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
            Warranty Terms
            <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
            <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
          </h5>

          <div class="dropdown-content dis-none p-t-15 p-b-23">
            <p class="s-text8">

<hr>
<b>What is covered under the Limited Warranty?</b>
<hr>
The basic warranty is void if the merchandise suffers damage caused by abuse, negligence or accident, has been relocated, repaired or tampered with, was sold "as is", or is used for commercial purposes. We do not guarantee fabrics against wear, fading, color fastness or any damage caused by cleaning processes. The extent of the limited warranty given for each product is described alongside each product below.
<br>
<b>Duration of Limited Warranty:</b>
<hr>
Each limited warranty lasts for the number of years stated against each product below, starting from the date of purchase.
<br>
<b>What will be done to correct the problem?</b>
<hr>
DENNY DOTS will examine the product and decide if it’s covered under this limited warranty. DENNY DOTS will then, at its choice, either repair the defective product or replace it with the same or a comparable product. In these cases, DENNY DOTS will be responsible for the costs of repairs, spare parts, labor and travel for repair staff that DENNY DOTS incurs, provided that the product is accessible for repair without DENNY DOTS incurring additional expenditure to gain access. This will not apply in cases where repair work has not been authorized by DENNY DOTS. Any defective parts removed in the course of repair works will become the property of DENNY DOTS. If the item is no longer sold by DENNY DOTS, DENNY DOTS will provide an appropriate replacement. DENNY DOTS will decide at its discretion, what will constitute an appropriate replacement.
<br>
<b>Conditions for the Limited Warranties:</b>
<hr>
The limited warranties are valid from the date of purchase. The original purchase receipt is required as proof of purchase.
<br>
<b>Exclusions:</b>
<hr>
The limited warranties do not apply to products that have been stored or assembled incorrectly, used inappropriately, abused, misused, altered, or cleaned with wrong cleaning methods or wrong cleaning products. The warranties do not cover normal wear and tear, cuts or scratches, or damage caused by impacts or accidents. The warranties do not apply if products have been placed outdoors or in a humid environment or if the products have been used for non-domestic purposes (unless otherwise stated). The warranty does not cover consequential or incidental damages. The warranties are to the benefit of the original purchaser of the product. They are not transferable. For details see the limited warranty conditions and description for each product.
<br>
<b>Care instructions:</b>
<hr>
To be able to claim this limited warranty you need to follow the specific care instructions for every product. You will find all care instructions with or on the DENNY DOTS products.
<br>
<b>How to reach us if you need service:</b>
<hr>
Contact DENNY DOTS <a href="/welcome/contact">Customer Care</a>. You will find the support team to assist you for the service .Save your sales receipt as proof of purchase.
            </p>
          </div>
        </div>


            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid section-title ">
        <div class="container py-4">
          <h3 class="text-center">Related Product</h3>
          <hr class="title-border">

          <div class="container-fluid bg-cover">
            <div class="container product-section-cover">
              <%= render partial: 'products/chair' %>
          </div>
        </div>
  </div>



  <script>
  $(document).ready(function(){
    $('.product-img input').click(function(){
      var productImages = $(this).attr('data-image');
      $('.active').removeClass('active');
      $('.carousel-item[data-image = ' + productImages + ']').addClass('active');
      $(this).addClass('active');
    })
  }),

  $('.carousel').carousel({
  interval: 0
})
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script src="/assets/bootstrap-magnify.min.js"></script>




<script>
document.getElementById("english_registration_form").onsubmit = function () {
    var x = document.forms["english_registration_form"]["name"].value ;

    var submit = false;


    if (x == "700001" || x == "700002" || x == "700003" || x == "700004" || x == "700005" || x == "700006" || x == "700007" || x == "700008" || x == "700009" || x == "700010" || x == "700011" || x == "700012" || x == "700013" || x == "700014" || x == "700015" || x == "700016" || x == "700017" || x == "700018" || x == "700019" || x == "700020" || x == "700021" || x == "700022" || x == "700023" || x == "700024" || x == "700025" || x == "700026" || x == "700027" || x == "700028" || x == "700029" || x == "700030" || x == "700031" || x == "700032" || x == "700033" || x == "700034" || x == "700035" || x == "700036" || x == "700037" || x == "700038" || x == "700039" || x == "700040" || x == "700041" || x == "700042" || x == "700043" || x == "700044" || x == "700045" || x == "700046" || x == "700047" || x == "700048" || x == "700049" || x == "700050" || x == "700051" || x == "700052" || x == "700053" || x == "700054" || x == "700055" || x == "700056" || x == "700057" || x == "700058" || x == "700059" || x == "700060" || x == "700061" || x == "700062" || x == "700063" || x == "700064" || x == "700065" || x == "700066" || x == "700067" || x == "700068" || x == "700069" || x == "700070" || x == "700072" || x == "700073" || x == "700074" || x == "700075" || x == "700076" || x == "700077" || x == "700078" || x == "700079" || x == "700080" || x == "700081" || x == "700082" || x == "700083" || x == "700084" || x == "700085" || x == "700086" || x == "700087" || x == "700088" || x == "700089" || x == "700090" || x == "700091" || x == "700092" || x == "700093" || x == "700094" || x == "700095" || x == "700096" || x == "700097" || x == "700098" || x == "700099" || x == "700099" || x == "700100" || x == "700101" || x == "700102" || x == "700103" || x == "700104" || x == "700105" || x == "700106" || x == "700107" || x == "700108" || x == "700109" || x == "700110" || x == "700111" || x == "700112" || x == "700113" || x == "700114" || x == "700115" || x == "700116" || x == "700117" || x == "700118" || x == "700119" || x == "700120" || x == "700121" || x == "700122" || x == "700123" || x == "700124" || x == "700125" || x == "700126" || x == "700127" || x == "700128" || x == "700129" || x == "700130" || x == "700131" || x == "700132" || x == "700133" || x == "700134" || x == "700135" || x == "700136" || x == "700137" || x == "700138" || x == "700139" || x == "700140" || x == "700141" || x == "700142" || x == "700143" || x == "700144" || x == "700145" || x == "700146" || x == "700147" || x == "700148" || x == "700149" || x == "700150" || x == "700151" || x == "700152" || x == "700153" || x == "700154" || x == "700155" || x == "700156" || x == "700157" || x == "700158" || x == "700159" || x == "700160" || x == "700161" ) {
        nameError = "Delivery is avaliable in your area.";
        document.getElementById("name_error").innerHTML = nameError;
        submit = false;
    }

    else {
      nameError = "We are not in your area right now, but you can book a special delivery by contacting us.";
        document.getElementById("name_error").innerHTML = nameError;
        submit = false;
    }

    return submit;
}

function removeWarning() {
    document.getElementById(this.id + "_error").innerHTML = "";
}

document.getElementById("name").onkeyup = removeWarning;

</script>




</html>























































